.breadcrumbs {
  margin-top: 5px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    position: relative;

    margin-right: 20px;

    line-height: 1.71;

    color: rgba(34, 41, 51, 0.6);

    &::after {
      content: '/';
      position: absolute;
      right: -14px;
      top: 0px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}