.footer {
  padding: 75px 0 0;

  background-color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 60px;

    border-bottom: 1px solid #dae4e9;

    @media (max-width: $md) {
      flex-wrap: wrap;
    }

    @media (max-width: $sm) {
      margin: 0 auto;
    }
  }

  &__top-item {
    line-height: 1.71;

    &--contact {
      width: 200px;
    }

    &--nav {
      width: 200px;
    }

    &--form {
      max-width: 270px;

      @media (max-width: $sm) {
        max-width: 320px;
      }
    }

    @media (max-width: $md) {
      margin: 20px 20px 0;
    }

    @media (max-width: $sm) {
      width: 100%;
      font-size: 16px;
    }
  }

  &__top-li {
    margin-bottom: 8px;
  }

  &__top-link {
    transition: color .3s;

    &:hover {
      color: $title-accent;
    }
  }

  &__top-title {
    margin: 16px 0 19px;

    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.31;
    text-transform: uppercase;

    color: #1f2044;
  }

  &__top-logo {
    display: block;
    margin-bottom: 25px;
  }

  &__top-contacts {
    display: block;
    margin-bottom: 10px;

    font-style: normal;

    transition: color .3s;

    &:hover {
      color: $title-accent;
    }
  }

  &__top-text {
    margin-bottom: 35px;
  }

  &__top-form {
    display: flex;
    flex-wrap: nowrap;
    height: 38px;
  }

  &__top-label {
    height: inherit;
    width: 63%;
    display: block;
  }

  &__top-input {
    height: inherit;
    width: 100%;
    padding: 0 15px;

    border: none;
    background-color: $bg;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1;

      color: #234969;
    }
  }

  &__top-btn {
    display: block;
    height: 100%;
    width: 37%;

    @extend %dmsans-400;
    line-height: 1.71;

    color: #fff;
    border: none;
    background-color: $link;

    cursor: pointer;
  }



  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    @media (max-width: $sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__bottom-list {
    display: flex;
    transition: color .3s;

    &:hover {
      color: $title-accent;
    }

    @media (max-width: $sm) {
      margin-top: 10px;
    }
  }

  &__bottom-item {
    position: relative;
    margin: 0 16px;

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }

      @media (max-width: $sm) {
        margin-right: 16px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -16px;
      top: 0;

      height: 17px;
      width: 1px;

      background-color: $default;
    }
  }
}