.footer {
  padding: 75px 0 0;

  background-color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 70px;

    border-bottom: 1px solid #dae4e9;
  }

  &__top-item--nav {
    width: 200px;
  }

  &__top-title {
    margin: 16px 0 21px;

    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.31;
    text-transform: uppercase;

    color: #1f2044;
  }

  &__top-item {
    margin-bottom: 7px;
  }

  &__top--contact {
    width: 200px;
  }

  &__top-logo {
    display: block;
    margin-bottom: 25px;
  }

  &__top-contacts {
    display: block;
    margin-bottom: 10px;

    line-height: 1.71;
    font-style: normal;
  }

  &__top-item-form {
    max-width: 270px;
  }

  &__top-text {
    margin-bottom: 35px;
  }

  &__top-form {
    display: flex;
    flex-wrap: nowrap;
    height: 38px;
  }

  &__top-input {
    display: block;
    height: 100%;
    width: 60%;
    padding: 0 15px;

    border: none;
    background-color: $bg;

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      line-height: 1;

      color: #234969;
    }
  }

  &__top-btn {
    display: block;
    height: 100%;
    width: 40%;

    @extend %dmsans-400;
    line-height: 1.71;

    color: #fff;
    border: none;
    background-color: $link;

    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__bottom-list {
    display: flex;
  }

  &__bottom-item {
    position: relative;
    margin: 0 14px;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      right: -16px;
      top: 2px;

      height: 17px;
      width: 1px;

      background-color: $default;
    }

    &:last-child::after {
      display: none;
    }

  }
}