.header {
  padding: 45px 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;

  &__list {
    display: flex;
  }

  &__link {
    @extend %rubik-500;
    font-size: 1.5rem;
    line-height: 16px;
    color: #466372;
    transition: color .3s, opacity .3s;
    &:hover {
      color: $link;
      opacity: .9;
    }
  }

  &__item {
    & + & {
      margin-left: 35px;
    }
  }
}

.user-nav {
  display: flex;

  &__search {
    background-image: url('../images/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    margin-right: 20px;
    border-radius: 25px;
    background-color: $accent;
  }

  &__line {
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
  }

  &__link {
    position: relative;
    @extend %dmsans-400;
    font-size: 1rem;
    line-height: 27px;
    text-align: center;
    color: #243f4d;
    &--wishlist {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url('../images/icons/heart-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    &--cart {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url('../images/icons/cart-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  
  &__num {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
  }

  &__btn {
    background-image: url('../images/icons/menu-dots.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    cursor: pointer;
  }
}