html,
body {
  background-color: #fff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  @extend %rubik-400;
  font-size: 14px;
  font-style: normal;

  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1800px;
  }
}

a {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 1.71;

  color: $default;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;

  color: $title;
}
