html,
body {
  background-color: #fff;
  height: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 1.4rem;
  font-style: normal;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-container {
  max-width: 1800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  @extend %rubik-400;
  font-size: 1.4rem;
  line-height: 24px;
  color: $default;
}

.title {
  margin-bottom: 35px;
  @extend %dmsans-700;
  font-size: 3.6rem;
  color: $title;
  text-align: center;
}

