.blog {
  padding-top: 10px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 270px;

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__wrapper {
    min-height: 435px;
    background-color: $bg;
  }

  &__inner {
    margin-bottom: -250px;

    transform: translateY(-250px);
  }

  &__title {
    text-align: left;
    @extend %title-margins;
  }

  &__link {
    position: relative;

    margin-bottom: 27px;
    padding-right: 26px;

    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1;

    color: #262626;

    &::after {
      content: '';
      position: absolute;
      top: 2px;

      height: 12px;
      width: 7px;
      margin-left: 20px;

      background-image: url('../images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: contain;

      transition: transform .3s;
    }

    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }
  }

  &__items {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $lg) {
      max-width: 70%;
      margin: 0 auto;
      justify-content: center;
    }

    @media (max-width: $md) {
      max-width: 100%;
    }
  }
}