.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: $bg;

  @media (max-width: $sm) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0 25px;

    border-right: 1px solid #e8e4df;

    &:last-child {
      border-right: none;
    }

    @media (max-width: $md) {
      text-align: center;
      padding: 55px 15px 10px;
    }

    @media (max-width: $sm) {
      width: 100%;
      padding: 25px 0;

      text-align: left;
      border-right: none;
      border-bottom: 1px solid #e8e4df;
    }

    @media (max-width: $xx) {
      padding: 55px 10px 25px;
    }
  }

  &__item-content {
    position: relative;
    top: -15px;

    transform: translateX(30px);

    @media (max-width: $md) {
      top: 0;
      transform: none;
    }

    @media (max-width: $sm) {
      transform: translateX(30px);
    }

    @media (max-width: $xx) {
      top: 0;
      transform: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: -80px;

      @media (max-width: $md) {
        top: -40px;
        left: 0;
        right: 0;
      }

      @media (max-width: $sm) {
        top: 15px;
        left: -70px;
      }

      @media (max-width: $xx) {
        top: -45px;
        left: 0;
        right: 0;
      }
    }

    &--support {
      &::before {
        content: url('../../images/icons/features/support.svg');
      }
    }

    &--delivery {
      &::before {
        content: url('../../images/icons/features/delivery.svg');
      }
    }

    &--secure {
      &::before {
        content: url('../../images/icons/features/secure.svg');
      }
    }
  }

  &__item-title {
    padding-top: 5px;

    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2;
    color: #414141;
  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.88;
    color: #585858;

    span {
      display: block;
    }
  }

  &__item-img {
    margin-right: 25px;
    padding-top: 14px;
  }
}