.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: $bg;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0 25px;

    border-right: 1px solid #e8e4df;

    &:last-child {
      border-right: none;
    }
  }

  &__item-content {
    position: relative;
    top: -15px;

    transform: translateX(30px);

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: -80px;
    }

    &--support {
      &::before {
        content: url('../../images/icons/features/support.svg');
      }
    }

    &--delivery {
      &::before {
        content: url('../../images/icons/features/delivery.svg');
      }
    }

    &--secure {
      &::before {
        content: url('../../images/icons/features/secure.svg');
      }
    }
  }

  &__item-title {
    padding-top: 5px;

    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2;
    color: #414141;
  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.88;
    color: #585858;

    span {
      display: block;
    }
  }

  &__item-img {
    margin-right: 25px;
    padding-top: 14px;
  }
}