.new-design {
  padding-bottom: 60px;

  &__title {
    @extend %title-margins;
  }

  &__filter {
    @include filter;
  }

  &__filter-btn {
    @include filter-btn;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(max-content, 250px));
    grid-gap: 30px;
  }

  &__item {
    padding: 35px 0 0 35px;

    @extend %dmsans-700;

    color: $title;
    border-radius: 4px;
    background-color: #f8f8f8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__item-title {
    max-width: 180px;
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 1;
  }

  &__item-subtitle {
    font-size: 16px;
    line-height: 1;

    color: $link;
  }
}