.products {
  padding-bottom: 75px;

  &__title {
    @extend %title-margins;
  }

  &__filter {
    @include filter;
  }

  &__filter-btn {
    @include filter-btn;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(max-content, 380px));
    gap: 40px 30px;
  }
}