.special {
  padding-bottom: 30px;

  &__items {
    display: flex;

    @media (max-width: $hg) {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 115px;
    padding: 40px 0;

    background-color: #feefe2;

    &+& {
      margin-left: 30px;

      @media (max-width: $hg) {
        margin-left: 0;
      }
    }

    @media (max-width: $hg) {
      width: 80%;
    }

    @media (max-width: $md) {
      width: 100%;
    }

    @media (max-width: $xs) {
      margin-top: 70px;
    }
  }

  &__img {
    width: 40%;
    padding: 0 60px 0 70px;
    margin: -95px 0 95px;

    @media (max-width: $md) {
      padding: 0 30px;
    }

    @media (max-width: $sm) {
      margin: -75px 0 75px;
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__content {
    width: 60%;
    margin-left: auto;
    padding-right: 100px;

    color: $title-accent;

    @media (max-width: $md) {
      padding-right: 50px;
    }

    @media (max-width: $xs) {
      width: 100%;
      padding: 30px 20px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @extend %dmsans-700;
    font-size: 26px;
    line-height: 1.23;

    @media (max-width: $xs) {
      font-size: 22px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.87;

    @media (max-width: $xs) {
      font-size: 14px;
    }
  }

  &__link {
    max-width: 183px;

    display: flex;
    align-items: center;
    padding: 18px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;

    color: #436372;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(67, 99, 114, .4);

    transition: background-color .3s;

    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #436372;
    }

    &:hover .special__link-arrow {
      transform: translateX(5px);

      fill: #fff;
    }
  }

  &__link-arrow {
    height: 9px;
    width: 22px;
    margin-left: 45px;

    transition: transform .5s;

    fill: #436372;
  }
}