.special {
  padding: 40px 0 30px;

  &__items {
    display: flex;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    min-height: 390px;
    width: 100%;
    padding: 85px 150px 85px 130px;

    background-color: #feefe2;

    &+& {
      margin-left: 30px;
    }
  }

  &__img {
    position: absolute;
    bottom: 85px;
  }

  &__content {
    width: 50%;
    margin-left: auto;

    color: $title-accent;
  }

  &__title {
    margin-bottom: 10px;

    @extend %dmsans-700;
    font-size: 26px;
    line-height: 1.23;
  }

  &__text {
    margin-bottom: 30px;

    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.87;
  }

  &__link {
    max-width: 183px;

    display: flex;
    align-items: center;
    padding: 20px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;

    color: #436372;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(67, 99, 114, .4);

    transition: background-color .3s;

    cursor: pointer;

    &-arrow {
      height: 9px;
      width: 22px;
      margin-left: 45px;

      transition: transform .5s;

      fill: #436372;
    }

    &:hover {
      color: #fff;
      background-color: #436372;
    }

    &:hover .special__link-arrow {
      transform: translateX(5px);

      fill: #fff;
    }
  }
}