.team {
  padding: 60px 0;

  &__wrapper {
    display: flex;
  }

  &__inner {
    max-width: 300px;
    margin-right: 100px;
  }

  &__title {
    margin-bottom: 20px;

    @extend %dmsans-700;
    font-size: 36px;

    color: $title-accent;
  }

  &__text {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 1.87;

    color: $title-accent;
  }

  &__link {
    padding: 15px 25px 15px 18px;

    @extend %dmsans-700;

    color: #fff;
    font-size: 15px;
    line-height: 3.66;

    background-color: $link;
    border-radius: 5px;

    transition: background-color .3s;

    cursor: pointer;

    &-arrow {
      width: 15px;
      height: 11px;
      
      margin-left: 20px;

      transition: transform .3s;
    }

    &:hover {
      background-color: $title-accent;

      .team__link-arrow {
        transform: translateX(5px);
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
  }

  &__item {
    max-width: 370px;
  }

  &__descr {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    margin-top: -50px;

    max-width: 320px;
    padding: 20px;

    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__name {
    display: block;

    margin-bottom: 5px;

    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1.18;

    color: #436372;
  }

  &__position {
    font-size: 16px;
    line-height: 1.87;

    color: #565872;
  }

  &__item-link {
    display: inline-block;

    height: 40px;
    width: 40px;

    border-radius: 50%;

    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center center;

    &--inst {
      margin-left: auto;
      background-image: url('../images/icons/instagram.svg');
    }

    &--google {
      margin-left: 7px;
      background-image: url('../images/icons/google+.svg');
    }
  }
}