.top-slider {

  &__items {
  background-color: $accent;
  }

  &__item {
    overflow: hidden;
  }
  
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px 85px;
    display: flex;
    align-items: center;
  }
  
  &__content {
    max-width: 470px;
    margin-right: 60px;
  }
  
  &__title {
    margin-bottom: 30px;
    @extend %rubik-500;
    font-size: 7.2rem;
    line-height: 70px;
    color: $title-accent;
    text-transform: uppercase;
  }
  
  &__text {
    margin-bottom: 40px;
    max-width: 370px;
    @extend %rubik-400;
    font-size: 1.8rem;
    line-height: 30px;
    color: #436372;
  }

  &__btn {
    display: flex;
    padding: 25px 20px 25px 30px;
    @extend %rubik-500;
    font-size: 1.5rem;
    line-height: 12px;
    color: #fff;
    border: none;
    background-color: $link;
    cursor: pointer;
    transition: background-color .3s;
    &-arrow {
    margin-left: 60px;
    transition: transform .5s;
    }
    &:hover {
    background-color: #436372;
    }

    &:hover &-arrow {
    transform: translateX(5px);
    }
  }
  
  &__img {
    margin-right: -115px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-75px);
    height: 0;
    li {
      padding: 0 6px;
      transition: background-color .3s;
    }
    button {
      width: 30px;
      height: 30px;
      text-align: center;
      border: none;
      border-radius: 50%;
      background-color: #fde3cc;
      @extend %rubik-500;
      color: $title-accent;
      transition: background-color .3s;
      cursor: pointer;
      outline: transparent;
    }
    button:hover {
      background-color: #fff;
    }
    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}