.video-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 50px 0 35px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__play-link {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    background-color: $link;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;

      height: 130px;
      width: 130px;

      border-radius: 50%;
      background-color: rgba(163, 187, 200, .4);

      transform: scale(0.5);

      transition: transform .3s ease-out;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }

  &__play-img {
    position: relative;
    z-index: 3;

    width: 22px;
    height: 25px;

    transform: translateX(3px);
  }

}